# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# Editors and OS files
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
